.tools/node_modules/
.artifacts/
.native/
**/node_modules/
**/dist/
**/.env
**/android/local.properties
**/android/.gradle/
**/android/**/build/
**/.env.*
!**/.env.example
*.log
**/coverage/
**/.venv/
**/__pycache__/
**/*.retry
**/*.pem
**/*.key
**/*.archive.gz
**/secrets.yml
**/.vault-password
TP3-M2-GIT/.private/
.tools/
**/.ansible/
**/.cache/
