#!/usr/bin/env sh
set -eu
install -o root -g root -m 0644 "/etc/letsencrypt/live/{{ api_domain }}/fullchain.pem" /etc/nginx/tls/fullchain.pem
install -o root -g root -m 0600 "/etc/letsencrypt/live/{{ api_domain }}/privkey.pem" /etc/nginx/tls/privkey.pem
nginx -t
systemctl reload nginx
